/* Don't capitalize names. */
h5.doc-heading {
  text-transform: none !important;
}

/* Avoid breaking parameters name, etc. in table cells. */
.doc-contents td code {
  word-break: normal !important;
}

/* For pieces of Markdown rendered in table cells. */
.doc-contents td p {

  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

div.doc.doc-contents.first {
  padding-left: 0;
}

div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 30px;
}

.md-typeset h4 code.highlight.language-python {
  font-size: 1.1em;
}

.md-typeset span small.doc-label {
  font-size: 1.0em ;
  font-kerning: unset;
}


.md-typeset span small.doc-label-writable code {
  color: var(--md-typeset-a-color);
}

/* .md-typeset span small.doc-label-readonly code {
  color: green !important;
} */

.md-typeset {
  font-size: .7rem;
line-height: 1.4;
}

.md-header {
  background: rgb(171,56,151);
  background: linear-gradient(0deg, rgba(171,56,151,1) 0%, rgba(245,83,118,1) 90%); 
} 
